body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/964/284/original/baby-born-day-background-free-vector.jpg);
    background-size: cover;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container{
    height: 500PX;
    width: 500PX;
    background-color: rgb(255, 252, 57);
    margin-top: 300PX;
    margin-left: 700PX;
    padding: 80px;
}